<div class="w-full h-screen bg-teal-700/40 pt-20">
    <h1>Home Page Working!</h1>

</div>

<div class="w-full flex flex-col items-center my-10">
    <h2 class="text-xl text-teal-900">Nuestros Servicios seleccionados para ti.</h2>

    <div class="bg-teal-500/50 w-full max-w-20 h-1 mt-5"></div>
</div>

<div class="flex flex-col lg:flex-row items-center lg:justify-around flex-wrap gap-4">
    <div class="flex-1 max-w-sm">
        <img
            src="https://images.unsplash.com/photo-1600334129128-685c5582fd35?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Servicio 1"
            class="w-full h-64 object-cover rounded-lg shadow-md">
        <h3 class="text-lg font-semibold mt-4">Servicio 1</h3>
        <p class="text-gray-600 mt-2">Descripción breve del servicio 1</p>
        <mat-divider />

        <div class="flex justify-between items-center">
            <p class="text-teal-900 font-bold mt-2 uppercase">Precio: $100</p>
            <button mat-button class="text-teal-900 px-4 py-2 rounded mt-2"><span class="uppercase">Comprar</span></button>
        </div>

    </div>
    
</div>